-r requirements.txt
#
# Please keep this up to date with the dependencies provided by Aws Glue runtime
#
# @Python Version: 3.6.9
wheel==0.33.6
virtualenv==16.7.5
urllib3==1.25.6
six==1.12.0
setuptools==41.2.0
scipy==1.2.1
scikit-learn==0.20.3
s3transfer==0.2.1
rsa==4.7
PyYAML==5.1.2
pytz==2019.2
python-dateutil==2.8.0
PyGreSQL==5.0.6
pyasn1==0.4.7
#pip==19.2.3
pandas==0.24.2
numpy==1.16.2
jmespath==0.9.4
docutils==0.15.2
colorama==0.3.9
botocore==1.12.235
boto3==1.9.234
awscli==1.16.245
